@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@75,200..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings: "wdth" 30;
}

header {
    background-color: antiquewhite;
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

#item-container{
    list-style: none;    
    display: flex;
    gap: 15px;
}


/* Heading */
#heading {
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 5% auto 10px auto;
    font-size: x-large;
}
#heading-paragraph {
    font-size: small;
    margin: 10px auto 10px auto;
    color: gray;
}
#heading-btn {
    border: none;
    padding: 1.5%;
    background-color: orange;
    border-radius: 0.5rem;
}
#heading-img {
    display: flex;
    width: 70%;
    margin: 20px auto 0px auto;
    padding-bottom: 20px;
}

/* Features */
#feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 30px auto;
    gap: 30px;
}
#feature-image-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.feature-img {
    width: 200px;
}
#feature-text-container{
    width: 30%;
    flex-direction: column;
}
#Features-text {
    color: orange;
}
#quick-list {
    color: gray;
}
#feature-paragraph {
    font-size: small;
    color: gray;
    margin: 10px auto 10px auto;
}
#btn {
    padding: 5px;
    background-color: orange;
    border: none;
}


/* Experience section over here */
#exp-container {
    width: 70%;
    margin-left: auto;
    margin-right: 25px;
}

#exp-heading {
    border-left: 2px solid gray ;
    font-size: x-large;
}
#exp-paragraph {
    font-size: small;
    color: gray;
    margin-top: 5px;
}
#exp-card-container{
    background-color: rgb(235, 234, 234);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 70%;
    margin-right: 20px;
    margin-left: auto;
}
#exp-card-paragraph {
    font-size: small;
    color: gray;
}

#experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#Experience {
    position: relative;
}
#exp-image {
    width: 60%;
}
#experience-section {
    width: 50%;
}
#relative-card {
    background-color: orange;
    padding: 15px;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 450px;
    bottom: -30px;
}