/* tag by selector old version */
div > p {
  color: gray;
}


/* id selector for a specific tag  */
#heading {
    background-color: rgb(79, 79, 228);
    color: white;
    text-align: center;
}

/* Class selector for a group of tag */
.text {
    background-color: azure;
    color: blueviolet;
}

/* Box Model */
#box {
  width: 100px;
  padding: 10px;
  border: 5px solid blue;
  box-sizing: border-box;
}

/* Background  */
#navbar {
 width: 300px;
 height: 100px;
 background-image: url('https://jimcarter.me/ai-tools/blackbox-ai/');
 background-repeat: no-repeat;
}