/* tag by selector old version */
div > p {
  color: gray;
}


/* id selector for a specific tag  */
#heading {
    background-color: rgb(79, 79, 228);
    color: white;
    text-align: center;
}

/* Class selector for a group of tag */
.text {
    background-color: azure;
    color: blueviolet;
}